body {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15pt;
    font-weight:400;
    margin: 0;

}
input[type="search"]:focus { outline: none; }

a {
  text-decoration: none;
}

::-webkit-input-placeholder {
    color:    #D8D8D8;
}
:-moz-placeholder {
    color:    #D8D8D8;
}
::-moz-placeholder {
    color:    #D8D8D8;
}
:-ms-input-placeholder {
    color:    #D8D8D8;
}
.left-board {
display: flex;
align-items: center;
flex-direction: column;
justify-content: space-between;
background-color: #343a40;
min-height: 600px;
height: 100%;
width: 100px;
position:fixed;
float: left;
}
.left-board-top {
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-direction: column;
    min-height: 400px;
    width: 100px;
}
.photo {
    height: 60px;
    width: 60px;
    border-radius: 100px;
    overflow: hidden;
}
.mid-photo {
    height: 45px;
    width: 45px;
    border-radius: 100px;
    overflow: hidden;
}
.small-photo{
    height: 30px;
    width: 30px;
    border-radius: 100px;
    overflow: hidden;
}
.main-photo{
    position: relative;
    margin: 20px 0 0 0 ;
}
.index-main-photo {
    position: absolute;
    background-color: red;
  border: 0px solid;
 border-radius: 30px;
  color: white;
  font-size: 12px;
text-align:center;
  height: 22px;
  text-decoration: none;
  width: 22px;
  margin: -15px 6px 0 6px;
  top: 5px;
  right: -5px;
  line-height: 22px;
}
.dots {
    position: absolute;
    width: 20px;
    right: 40px;
}
.dots:hover {
    opacity: 0;

}
.meter {
    width: 40px;
    right: 30px;
}
.board {
color: white;
}
.flex-container-col {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    width: 100px;
    height: 80px;
    position: relative;
}
.projects-menu{
    width: 40px;
    height: 40px;
    right: 30px;
}
.projects {
    color: #6e6e6e;
}
.projects-menu:hover {
    opacity: 0;
}
.projects-menu:hover+.projects{
    color: white;
}
.index-board{
    position: absolute;
    background-color : #A4A4A4;
  border: 0px solid;
 border-radius: 30px;
  color: white;
  font-size: 12px;
text-align:center;
  height: 22px;
  text-decoration: none;
  width: 22px;
  line-height: 22px;
  margin: -15px 6px 0 6px;
  top: 15px;
  right: 15px;
}
.left-board-bottom{
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-direction: column;
    min-height: 200px;
}
.dashboard1 {
display: flex;
justify-content: space-between;
background-color: #F2F2F2;
height: 75px;
width: calc(100% - 100px);
position:fixed;
min-width: 924px;
left: 100px;
}
.dashboard2 {
    display: flex;
    flex-direction: column;
    background-color: white;
    height: 100%;
    width:  calc(100% - 100px);
    position:fixed;
    min-width: 924px;
    left: 100px;
    top: 75px;
    }
.flex-container {
    display: flex;
    flex-direction: row;
    align-items: center;
}
.active-projects {
    margin-top: -1px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
    min-width: 220px;
    height: 66px;
    text-decoration: none;
    color:#6E6E6E;
    border-top: solid 1px #E6E6E6;
}
/*.active-projects:hover, .active-projects:focus {
    background-color: red;
    color: white;
  } */
.messenger {
    margin-left: -1px;
    margin-top: -1px;
    display: flex;
    color: #6E6E6E;
    justify-content: center;
    align-items: center;
    background-color: whitesmoke;
    min-width: 220px;
    height: 65px;
    border:solid 1px #E6E6E6;
    text-decoration: none;
}
.messenger:hover, .messenger:focus {
    background-color: white;
  }
.search-table-1 {
    margin-left: -1px;
    margin-top: -1px;
    display: flex;
    justify-content:flex-end;
    align-items: center;
    background-color: whitesmoke;
    min-width: 478px;
    width: 100% ;
    height: 65px;
    border-left:solid 1px #E6E6E6;
    border-bottom:solid 1px #E6E6E6;
    border-top: solid 1px #E6E6E6;
}
.search {
    width: 300px;
    font: 300 14pt Arial;
    background-color: whitesmoke;
    cursor: text;
    padding: 0px;
    border-width: 0px;
}

.list {
    min-width: 330px;
    font: 400 12pt Arial;
    background-color: white;
    cursor: text;
    padding: 0 0 0 20px;
    border-width: 0px;
    border-collapse: separate;
    border-spacing: 5px;
}
.dropdown-button {
    display: flex;
    align-items: center;
    flex-direction: row;
      border: 1px solid #CCCCCC;
      padding: 0 10px 0 10px ;
     border-radius: 20px;
      color: #555555;
      display:block;
      font-size: 10px;
    text-align:center;
      height: 30px;
      line-height: 30px;
      min-width: 30px;
      text-decoration: none;
      margin: 0 3px 0 3px;
  }
  .dropdown-button:hover {
    background-color: red;
    color: white;
  }
  .dropdown-button:hover img {
    filter: brightness(0) invert(1) ;
  }
  .simple-button {
      border: 0px solid;
     border-radius: 18px;
      color: white;
      display:block;
      font-size: 20px;
    text-align:center;
      height: 30px;
      text-decoration: none;
      min-width: 30px;
      line-height: 30px;
      margin: 0 6px 0 6px;
  }
  .simple-button:hover {
  
    background-color: red;
    
  }
  .simple-button:hover  img {
    filter: brightness(0) invert(1) ;
  }
  
  .bubbles {
    
    height : 16px;
     width: 16px;
    margin-bottom: -6px ; 
    filter: brightness(400%);
  }
  .clock {
      opacity: 0.6;
      padding: 0 5px 0 5px ;
  }
  .telegram {
    opacity: 0.6;
    padding: 0 5px 0 5px ;
    transform: scale(-1, 1);
  }
  .index {
      background-color: red;
    border: 0px solid;
   border-radius: 30px;
    color: white;
    display:block;
    font-size: 12px;
  text-align:center;
    height: 22px;
    text-decoration: none;
    width: 22px;
    margin: -15px 6px 0 6px;
    line-height: 22px;
  }
  .flex-container-center {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    min-height: 415px;
    height: calc( 100% - 185px);
  }
  .flex-container-col-center{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    min-width: 540px;
    min-height: 415px;
    height: 100%;
    flex-grow: 1;
    margin: 20px 10px 20px 20px ;
    border: 1px solid #E6E6E6
  }
  .flex-container-col-news{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    min-width: 278px;
    width: 298px;
    min-height: 375px;
    height: 100%;
    margin-top: 20px;
    margin-right: 20px; 
    border: 1px solid #E6E6E6;
    overflow-y: scroll;
}
.flex-container-col-news::-webkit-scrollbar-track
{
	border-radius: 10px;
	background-color: rgb(219, 219, 219);
}

.flex-container-col-news::-webkit-scrollbar
{   
    width: 5px;
}

.flex-container-col-news::-webkit-scrollbar-thumb
{
    border-radius: 10px;
	background-color: #BDBDBD;
}
  .news {
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: flex-start;
    background-color: white;
    min-width: 272px;
    width: 272px;
    height: 50px;
    border:solid 1px #E6E6E6;
    margin: -1px -1px 0 -1px ;
    padding: 10px;
  }
  .news_text {
    color : #6E6E6E;
    font-size: 12px;
  }
  .news_date {
    color : #D8D8D8;
    font-size: 10px;
  }
  .circle{
      position: absolute;
      background-color: #BDBDBD;
      height: 8px;
      width: 8px;
      border-radius: 100px;
      border: 2px solid white;
      margin: -50px 0 0 0;
  }
  .search-table-2 {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: white;
    min-width: 540px;
    height: 70px;
    min-height: 70px;
    border:solid 1px #E6E6E6;
    width: 100%;
    margin: -1px -1px 0 -1px ;
}
.center-board {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: white;
    min-width: 540px;
    height: 70px;
    min-height: 70px;
    border-bottom: 1px solid #E6E6E6;
    width: 100%;
}
.center {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    min-width: 540px;
    min-height: 305px;
    height: 100%;
    width: 100%;
    flex-grow: 1;
    overflow-y: scroll;
}
.center::-webkit-scrollbar-track
{
	border-radius: 10px;
	background-color: rgb(219, 219, 219);
}

.center::-webkit-scrollbar
{   
    width: 5px;
}

.center::-webkit-scrollbar-thumb
{
    border-radius: 10px;
	background-color: #BDBDBD;
}

.simple-button-center {
    border: 1px solid #D8D8D8;
   border-radius: 18px;
    color: #BDBDBD;
    display:block;
    font-size: 12px;
  text-align:center;
    height: 30px;
    text-decoration: none;
    min-width: 30px;
    line-height: 30px;
    margin: 0 6px 0 6px;
}
.simple-button-center img {
    margin: 0 0 -4px 0;
}
.simple-button-center:hover {

  background-color: red;
  color:white;
  
}
.simple-button-center:hover  img {
  filter: brightness(0) invert(1) ;
}
.persent {
    border: 0px solid;
    border-radius: 5px;
     color: white;
     display:block;
     font-size: 18px;
   text-align:center;
     height: 30px;
     text-decoration: none;
     min-width: 30px;
     line-height: 30px;
     margin: 0 10px 0 10px;
     background-color: red;
     padding: 0 5px 0 5px;
}
.persent-done {
    border: 1px solid #BDBDBD;
    border-radius: 5px;
     color: #BDBDBD;
     display:block;
     font-size: 18px;
   text-align:center;
     height: 30px;
     text-decoration: none;
     min-width: 30px;
     line-height: 30px;
     margin: 0 10px 0 10px;
     background-color: inherit;
     padding: 0 5px 0 5px;
}
.ready {
        border: 1px solid #BDBDBD;
        border-radius: 5px;
         color: #BDBDBD;
         display:block;
         font-size: 10px;
       text-align:center;
         height: 20px;
         text-decoration: none;
         min-width: 30px;
         line-height: 20px;
         margin: 0 10px 0 10px;
         background-color: inherit;
         padding: 0 5px 0 5px;
}
.project{
    font-size: 14px;
    font-weight: 550;
    color: #6E6E6E;
}
.project-done{
    font-size: 14px;
    font-weight: 550;
    color: #BDBDBD;
    

}
.arhive {
    color: #555555;
    display: flex ;
    flex-direction: row;
    align-items: center;
    min-height: 40px;
    height: 40px;
    width: 100%;
    font-size: 15px;
    border-top: 1px solid #E6E6E6;
    text-decoration: none;
}